/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/


body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}



/* ------------------------------- */
/* ----- DOLE BUDE TVOJE CSS ----- */
/* ------------------------------- */
.recept-meta{
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}
.recept-nazev{
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    margin-top: 40%;
}

.hlavni-recept{
    background: url("images/burger.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;

  
}
.recept2{
    
    background: url("images/sushi.jpg");
    background-size: cover;
    background-position: center;
 
}
.recept3{
    background: url("images/kure.jpg");
    background-size: cover;
    background-position: center;
  
    
}
.recept4{
    background: url("images/rajcata.jpg");
    background-size: cover;
    background-position: center;
  
    
}
.recept5{
    background: url("images/grilovani.jpg");
    background-size: cover;
    background-position: center;
   
   }




@media (max-width: 540px) {
   .doporucujeme{
        display: flex;
        flex-wrap: wrap;
   
    }
    .recepty{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .recept-velky{
        font-size: 28px;
        margin-top: 45%;
 } 
    .recept-nazev{

      font-size: 18px;
    

}
   .hlavni-recept{
    padding: 10px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 200px;
    width: 100vw;
    
}

     .recept2,
     .recept3,
     .recept4,
     .recept5{
        margin: 1px;
        padding: 10px;
        min-height: 90px;
    }
  
    
}


/*---konec sekce mobil----*/

@media (min-width:541px) and (max-width: 960px) {
   
    .hlavni-recept{
        width: 100%;
        padding: 20px;
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        min-height: 250px;
      
    }
    .recepty{
        display: flex;
        flex-wrap: wrap;
                           
    }
    .recept-velky{
       font-size: 36px;
       margin-top: 20%;
    }
    .recept-nazev{
        font-size: 22px;
    }
    

    .recept2,
    .recept3,
    .recept4,
    .recept5{
        
        margin: 1px;
        padding: 20px;
        min-height: 150px;
        flex-grow: 1;
        flex-basis: 35%;
     
    }
  
    
    }

    /*---konec sekce tablet---*/

    @media (min-width: 961px) {
       .doporucujeme{
            display: flex;
            flex-wrap: wrap;
                  }
        

        .recepty{
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            flex-basis: 50%;
        }

        
        .hlavni-recept{
            width: 35%;
            padding: 20px;
            margin-top: 2px;
            margin-left: 1px;
            margin-right: 1px;
            min-height: 400px;
          
        }
        .recept-velky{
            font-size: 48px;
            margin-top: 80%;
            width: 70%;
        }
        .recept-nazev{
            font-size: 28px;
        }

        .recept2,
        .recept3,
        .recept4,
        .recept5{
            width: 49%;
            margin: 1px;
            padding: 20px;
            min-height: 200px;
    }
         }
        
/*-----konec sekce pc---*/